/*Global*/
body {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 13px;
    text-align: left;
    line-height: 24px;
    font-weight: 400;
    color: black;

    background-color: #ffffff;

    margin: 0;
    padding: 0;}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;}
a {
    text-decoration: none;}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    border: 2px solid black;} /*Border*/

/*Titles*/
.popular-title {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;}
.item-title {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    color: #000000;}
.service-option-title {
    font-size: 36px;
    line-height: 30px;
    color: #32425c;}
.info-title .service-title {
    font-size: 30px;
    line-height: 30px;}
.catalog-general-title {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;}

/*Buttons*/
.button-link { 
    font-size: 14px;
    line-height: 17.5px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643}
.button-link:hover { 
    background-color:#ca2c37;}
.button-link:active { 
    background-color:#ee3643;}
.button-link:focus { 
    background-color:#ba2732;}

/*Background*/
.header-nav {
    width: 940px;
    height: 60px;
    box-shadow: inset 0px -5px 0 0 #293449;
    background-color: #32425c;}
.footer-bottom-bar {
    width: auto;
    height: 107px;
    background-color: #293449;}
.footer-info {
    width: auto;
    height: 300px;
    background-color: #32425c;}
.services {
        width: auto;
        height: 522px;
        background-color: #f4f8fa;}
.popular-header {
        width: 940px;
        height: 89px;
        background-color: #f9f5f0;}   


/*HEADER.Upper-Bar */
.header-upper-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #293449;
    width:auto;
    height: 42px;}
.container-upper-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;}
    
.logo {
    padding: 0px 50px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;}
.logo:hover {
    background-color: #ca2c37;}
.logo:focus {
    background-color: #ee3643;}
.logo:active {
    background-color: #ba2732;}

.button-order {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #5fbb2d;}   
.counts {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;}


/*HEADER.Header-Info */
.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:auto;}  
.container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;}

.general-title {
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
    width:310px;}
.header-contacts {
    width:320px;
    text-align: center;}
.header-buttons {
    display:inline-block;
    width:310px;
    list-style: none;}   

.phone { 
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.42px;
    color: #e9292a;}
.address-header {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #32425c;
    font-style: normal; }
.button-login {
    display:inline-block;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;}    
   
    
/*HEADER.Navigation */
.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:auto;}
.container-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;}

.header-nav a {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;}
.header-nav li {
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;}


/*MAIN.Menu*/
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:auto;}
.container-menu {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    width: 940px;
    margin: 10px auto;}

.slider-header  {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #ffffff;}
.slider-text {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff; }
.menu-card-name {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    color: #ffffff;}
    
.menu-card-1 {
    width: 300px;
    height: 123px;
    background-color: #ffbf47;}
.menu-card-2 {
    width: 300px;
    height: 123px;
    background-color: #3bbce3;}
.menu-card-3 {
    width: 300px;
    height: 123px;
    background-color: #dc91d8;}
.menu-card-4 {
    margin:0;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;

    width: 620px;
    height: 266px;
    background-color: red;}  
.menu-card-5 {
    width: 300px;
    height: 123px;
    background-color: #8ed78f;}
.menu-card-6 {
    width: 300px;
    height: 123px;
    background-color: #ffc047;}
  
.menu-card-link {
    font-size: 14px;
    line-height: 17.5px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;}
.menu-card-link:hover {}
.menu-card-link:active {}
.menu-card-link:focus {}


/*MAIN.Items-box */
.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:auto;}
.container-items {
    width: 940px;
    margin: 0 auto;}
.items-header {
    background-color: #f9f5f0;
    width: auto;}
.items-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:auto;
    padding:0;
    list-style: none;}

.item-box {
    width: 220px;
    height: 318px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;}
.supplier-box {
    width: 220px;
    height: 145px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;}
.price-old {
        font-size: 17.5px;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        line-height: 17.5px;
        text-align: center;
        color: #a9a9a9;
        text-decoration: line-through;}
.price-new {
        font-size: 17.5px;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        line-height: 17.5px;
        text-align: center;
        color: #ffffff;
        background-color: #ee3643;}
.buy-link {
            font-size: 14px;
            line-height: 17.5px;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            box-shadow: inset 0px -3px 0 0 #367315;
            background-color: #63a63e;}  
.add-link {
            font-size: 14px;
            line-height: 17.5px;
            text-align: center;
            color: #32425c;
            text-transform: uppercase;}
.item-hover {
    display:none;        
    text-align: center;}


/*MAIN.Items-Suppliers */
.container-suppliers {
    width: 940px;
    margin: 0 auto;}
.header-suppliers {
    background-color: #f9f5f0; }
.suppliers-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    padding: 0;
    list-style: none;}





/*CONTINUE*/







/*MAIN.Service Info */
.info-bullets {
    font-size: 18px;
    line-height: 20px;}
.service-option {
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    background-color: #32425c;
    color: #ffffff;}
.service-option:hover {
    background-color: #293449;
    color: #ffffff;}
.service-option:active {
    background-color: #ffffff;
    color: #32425c;}
.service-option:focus {
    background-color: #32425c;
    color: #ffffff;}
.content {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;}


/*FOOTER. Navigation */
.footer-nav a {
  font-size: 18px;
  color: #f3f7f9;}
.footer-nav-catalog a {
  font-size: 18px;
  color: #ffd180;}

/*FOOTER. Contacts */
.address {
  font-size: 18px;
  color: #f3f7f9;
  font-style: normal;}

/*FOOTER. Bottom-bar */
.footer-bottom-bar a {
    font-size: 16px;
    color: red;}
.footer-bottom-bar a:hover {
    color: red;}
.footer-bottom-bar a:active {
    opacity:0.5;}
.footer-bottom-bar a:focus {
    color: #ffd180;}

.footer-bottom-bar p {
    color: #ffffff;
    font-size: 16px;}

/*FORMS.Search/Side Bar*/
.search-bar a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 117.5px;
    color: #ee3643;}
.side-bar label {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;}

/*FORMS.LogIn*/
.modal-login label {
    font-size: 17.5px;
    line-height: 17.5px;
    color: #000000;}

/*CATALOG. Pagination*/
.upper-pagination a{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    color: #000000;}
.bottom-pagination a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    text-align: center;
    color: #000000;}

/*CATALOG. Main*/

.info {
    background-color: #f2f6f8;}
.catalog-general-title {
    background-color: #f2f6f8;}