/* Global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 13px;
    text-align: left;
    line-height: 24px;
    font-weight: 400;
    color: black;}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;}
a {
    text-decoration: none;}
li {
    list-style: none;}
  
/*HEADER.Upper-Bar */
.counts {
    font-size: 17px;
    line-height: 18px;
    text-align: left;
    color: #ffffff;}

/*HEADER.Header-Info */
.address-header {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;}
.phone { 
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.42px;
  text-align: left;
  color: #e9292a;}

/*HEADER.Navigation */
.header-nav a {
    font-size: 17px;
    line-height: 17px;
    text-align: left;
    color: #ffffff;}

/*MAIN.Menu*/
.menu-card-name {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    color: #ffffff;}
.menu-card-link {
    font-size: 14px;
    line-height: 17.5px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;}

/*MAIN.Items-box */
.item-box {
    width: 220px;
    height: 318px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;}
.supplier-box {
    width: 220px;
    height: 145px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;}

/*MAIN.Items-Price*/
.price-old {
    font-size: 17.5px;
    font-weight: bold;
    line-height: 17.5px;
    text-align: center;
    color: #a9a9a9;
    text-decoration: line-through;}
.price-new {
    font-size: 17.5px;
    font-weight: bold;
    line-height: 17.5px;
    text-align: center;
    color: #ffffff;}

/*MAIN.Items-Hover*/
.buy-link {
    font-size: 14px;
    line-height: 17.5px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;}  
.add-link {
    font-size: 14px;
    line-height: 17.5px;
    text-align: center;
    color: #32425c;
    text-transform: uppercase;}
.item-hover {
    text-align: center;    }

/*MAIN.Options & Bullets */
.info-bullets {
    font-size: 18px;
    line-height: 20px;}
.service-option {
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    color: #32425c;}

/*FOOTER. Navigation */
.footer-nav a {
  font-size: 18px;
  text-align: left;
  color: #f3f7f9;}
.footer-nav-catalog a {
  font-size: 18px;
  text-align: left;
  color: #ffd180;}

/*FOOTER. Contacts */
.address {
  font-size: 18px;
  text-align: left;
  color: #f3f7f9;}

/*FOOTER. Bottom-bar */
.footer-bottom-bar a {
    font-size: 16px;
    text-align: left;
    color: #ffd180;}
.footer-bottom-bar p {
    color: #ffffff;
    font-size: 16px;
    text-align: left;}

/*Buttons */
.button-link {
    font-size: 14px;
    line-height: 17.5px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;}
.button-order {
    font-size: 17px;
    line-height: 18px;
    text-align: left;
    color: #ffffff;}
.button-login {
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #000000;
}
/* Background */
.header-nav {
    width: 940px;
    height: 60px;
    box-shadow: inset 0px -5px 0 0 #293449;
    background-color: #32425c;}
.menu-card {
    width: 300px;
    height: 123px;
    background-color: #dc91d8;}
.footer-bottom-bar {
    width: auto;
    height: 107px;
    background-color: #293449;}
.footer-info {
    width: auto;
    height: 300px;
    background-color: #32425c;}
.services {
        width: auto;
        height: 522px;
        background-color: #f4f8fa;}
.popular-header {
        width: 940px;
        height: 89px;
        background-color: #f9f5f0;}
.header {
        width: auto;
        height: 320px;
        background-color: #f4f8fa;}   
.header-upper-bar {
    width: auto;
    height: 42px;
    background-color: #293449;
}
/*MAIN.Titles */
.popular-title {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;}
.item-title {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    color: #000000;}
.service-option-title {
    font-size: 36px;
    line-height: 30px;
    color: #32425c;}
.info-title .service-title .catalog-bottom-note-title {
    font-size: 30px;
    line-height: 30px;}
.general-title {
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    text-align: left;
    color: #ee3643;}
.catalog-general-title {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #32425c;}

/*CATALOG. Pagination*/
.upper-pagination a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    text-align: left;
    color: #000000;}
.bottom-pagination a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    text-align: center;
    color: #000000;}